spawn-sh-at-startup "waybar -c $HOME/.config/waybar/Niri/config.jsonc -s $HOME/.config/waybar/style.css &"
spawn-at-startup "mako"
spawn-sh-at-startup "systemd-run --user --no-block --collect --unit=fix-portal-env bash -c sleep 2 && systemctl --user import-environment WAYLAND_DISPLAY && systemctl --user restart xdg-desktop-portal-gtk xdg-desktop-portal"
spawn-at-startup "kdeconnect-indicator"
spawn-sh-at-startup "bash $HOME/.config/Scripts/random_wall_on_home.sh"
spawn-sh-at-startup "paplay /usr/share/sounds/freedesktop/stereo/service-login.oga"
spawn-sh-at-startup "sleep 3;paplay /usr/share/sounds/freedesktop/stereo/message.oga|notify-send --icon ~/.config/Resources/images/PFP.jpg 'Welcome back' $USER"
spawn-at-startup "kdeconnectd"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
// spawn-sh-at-startup "swayidle -w timeout 300 'systemctl suspend' before-sleep 'hyprlock'"
