include "Animations.kdl"
include "Input.kdl"
include "Outputs.kdl"
include "Overview.kdl"
include "Rules.kdl"
include "Blur.kdl"
include "Cursor.kdl"
include "Layout.kdl"
include "Autostart.kdl"
include "Keybinds.kdl"
include "Others.kdl"
