input {
  keyboard {
    xkb {
      layout "br"
      variant "abnt2"
    }

    repeat-rate 60
    repeat-delay 200
  }

  touchpad {
    tap
    natural-scroll
    accel-speed 1.0
    accel-profile "adaptive"
    scroll-factor 3.0
    scroll-method "two-finger"
  }

  mouse {
    accel-speed 1.0
    accel-profile "adaptive"
    scroll-factor 3.0
  }

  focus-follows-mouse
}
