layout {
  gaps 10
  center-focused-column "never"

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
    width 4
    active-color "#7fc8ff"
    inactive-color "#505050"
    //active-gradient from="#80c8ff" to="#c7ff7f" angle=45
  }

  border {
    off
    width 4
    active-color "#ffffff"
    //active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
  }

  shadow {
    on
    softness 80
    spread 2
    offset x=0 y=5
    color "#000000"
    draw-behind-window false
  }
  struts {
    left 5
    right 5
    top 0
    bottom 0
  }
}
