window-rule {
  geometry-corner-radius 32
  clip-to-geometry true
  // open-maximized true
}

window-rule {
  match app-id="btop"
  open-fullscreen true
}

window-rule {
  match app-id="^kitty$"
  match app-id="^Alacritty$"
  background-effect {
    blur true
  }
}

window-rule {
  match title="^Picture-in-Picture$"
  match title=r#"^Picture in picture$"#
  match app-id="org.kde.kdeconnect.daemon"
  geometry-corner-radius 24
  open-floating true
  open-focused false
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.22; }
  default-window-height { proportion 0.22; }
  shadow {
        on
        softness 100
        spread 20
        offset x=0 y=10
        draw-behind-window false
        color "#000000"
    }
}

layer-rule {
  match namespace="^rofi$"
  geometry-corner-radius 50
  background-effect {
    blur true
  }
  shadow {
        on
        softness 200
        spread 20
        offset x=0 y=20
        draw-behind-window false
        color "#000000"
    }
}

layer-rule {
  match namespace="^waybar$"
  match namespace="quickshell"
  match namespace="^logout_dialog$"
  background-effect {
    blur true
  }
}

window-rule {
  match app-id="Brave-origin-beta"
  match app-id="librewolf"
  match app-id="Helium"
  // match app-id="foot"
  match app-id="com.mitchellh.ghostty"
  open-maximized true
}

window-rule {
  match app-id="jetbrains-idea"
  open-fullscreen true
}

window-rule {
  match app-id="org.kde.kdeconnect.app"
  match app-id="localsend"
  open-floating true
  open-focused true
  open-maximized false
  open-maximized-to-edges false
  open-fullscreen false
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { fixed 400; }
  default-window-height { proportion 0.72; }
    shadow {
        on
        softness 100
        spread 10
        offset x=0 y=10
        draw-behind-window false
        color "#000000"
      }
}

window-rule {
  match title="^save to$"
  match title="^Authenticate$"
  match title="^Library$"
  match title="^Upload$"
  match app-id="xdg-desktop-portal-gtk"
  match title="^File Upload$"
  open-floating true
  geometry-corner-radius 24
  default-column-width { fixed 1000; }
  default-window-height { fixed 600; }
  shadow {
        on
        softness 140
        spread 10
        offset x=0 y=20
        draw-behind-window false
        color "#000000"
    }
}

window-rule {
  match app-id="yazi"
  open-maximized true
}

window-rule {
  match app-id="bluetui"
  match app-id="pulsemixer"
  match app-id="nmtui"
  match app-id="dashboard"
  match app-id="ncdu"
  match app-id="org.gnome.Nautilus"
  match app-id="thunar"
  match app-id="battery"
  match app-id="sensors"
  match app-id="aichat"
  open-floating true
  open-focused true
  open-maximized false
  open-fullscreen false
  open-maximized-to-edges false
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.46; }
  default-window-height { proportion 0.50; }
  shadow {
        on
        softness 100
        spread 10
        offset x=0 y=10
        draw-behind-window false
        color "#000000"
    }
}

window-rule {
  match app-id="dashboard"
  open-floating true
  open-focused true
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.33; }
  default-window-height { proportion 0.32; }
  shadow {
        on
        softness 100
        spread 10
        offset x=0 y=10
        draw-behind-window false
        color "#000000"
    }
}

layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^awww-daemonniri$"
    place-within-backdrop true
}
