window-rule {
  geometry-corner-radius 24
  clip-to-geometry true
}

window-rule {
  match app-id="^kitty$"
  match app-id="^Alacritty$"
  background-effect {
    blur true
  }
}

window-rule {
  match title="^Picture-in-Picture$"
  match title=r#"^Picture in picture$"#
  match app-id="org.kde.kdeconnect.daemon"
  open-floating true
  open-focused false
  default-floating-position x=32 y=32 relative-to="bottom-right"
  default-column-width { proportion 0.25; }
  default-window-height { proportion 0.25; }
}

layer-rule {
  match namespace="^rofi$"
  geometry-corner-radius 50
  background-effect {
    blur true
  }
}

layer-rule {
  match namespace="^waybar$"
  match namespace="^logout_dialog$"
  background-effect {
    blur true
  }
}

window-rule {
  match app-id="Brave-origin-beta"
  match app-id="librewolf"
    // open-fullscreen true
    open-maximized true
    // open-maximized-to-edges true
    // open-floating true
    // open-focused true
}

window-rule {
  match app-id="jetbrains-idea"
    open-fullscreen true
    // open-maximized true
    // open-maximized-to-edges true
    // open-floating true
    // open-focused true
}

window-rule {
  match app-id="org.kde.kdeconnect.app"
  match app-id="localsend"
  open-floating true
  open-focused true
  default-floating-position x=32 y=32 relative-to="bottom-right"
  default-column-width { proportion 0.22; }
  default-window-height { proportion 0.74; }
}
